main{
  max-width: 1200px;
  width: 900px;
  margin:auto;
  font-family: 'Abel', sans-serif;
}

header{
  margin-bottom: 50px;
  margin-top:20px;
  margin-left: 20px;
  padding: 10px;
  border-bottom: solid 3px #3CB371;

}

footer{
  font-family: 'Abel', sans-serif;
  background-color:#3CB371;
  width:100%;
  margin: auto;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  text-align: center;
}

a:hover{
  font-weight: bold;
}

#mySketch img{
  width:800px;
  height:250px;
}


.bigbox{
  display: flex;
  flex-direction: row;
  width:100%;
  align-content: center;
}

.bigcontainer{
  display:flex;
  flex-direction: row;
  width:100%;
  margin:5%;

}

.picturebox{
  flex:1;
  border:2px solid #3CB371;
  margin-right: 5%;

}

.picturebox img{
  width:95%;
}

.summarybox{
  flex:1;
}

.summarybox p{
  width:80%;
}

footer p{
  flex:1;

}



.bigbox div{
  flex:1;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  padding:10px;
  border: solid 3px #3CB371;
}

.bigbox a{
  text-decoration: none;
  color:#3CB371;
}

footer p a{
  color:white;
  text-decoration: none;
}
