body{
  background-color:#74BCEC;
  font-family: 'Montserrat', sans-serif;
}

#who{
  width:100vw;
  height:100vh;
  padding: 15%;
  color:white;
}

#relationship{
  width:100vw;
  height:100vh;
  padding: 15%;
  color:white;
}

#other{
  width:100vw;
  height:100vh;
  padding: 15%;
  color:white;
}

#you{
  width:100vw;
  height:100vh;
  padding: 15%;
  color:white;
}

#diaryentry{
  width:100vw;
  height:100vh;
  padding: 15%;
}

#diaryentry h2{
  color:white;
}

#diaryentry div{
  color:#74BCEC;
}

button{
  border:2pt solid white;
  border-radius: 10px;
  background-color: transparent;
  margin-top: 35px;
  padding-left:20px;
  padding-right:20px;
}

button a{
  text-decoration: none;
  color:white;
  font-weight: bold;
}

#submitbutton{
  border:2pt solid white;
  border-radius: 10px;
  background-color: transparent;
  margin-top: 15px;
  margin-bottom:15px;
  padding:20px;
  cursor:pointer;
  color:white;
  font-weight: bold;
}

.invisible { display:none;}
.visible {
    display:block;
    left: 20%;
    width: 400px;
    padding: 20px;
    background-color: white;
    border-radius: 15px;
}
