body{
  width:800px;
  font-family: 'Bangers', cursive;
  margin:auto;
  background-image: url('images/background_madlibs.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

input{
  display: block;
  margin-bottom: 20px;
  padding:5px;

}

h1{

  color:white;
  margin-top: 10%;
}

.invisible { display:none;}
.visible {
    display:inline;
    top: 500px;
    left: 20%;
    width: 400px;
    padding: 20px;
    background-color: white;
    border-radius: 15px;
    color:#3498DB;
}

#submitbutton{
  background-color: yellow;
  border-radius: 5px;
  padding:20px;
}

footer {
  margin-top:200px;
  text-align: center;
}

footer a{
  text-decoration: none;
}
