main{
  max-width: 1200px;
  width: 900px;
  margin:auto;
  font-family: 'Abel', sans-serif;
}

header{
  margin-bottom: 50px;
  margin-top:20px;
  margin-left: 20px;
  padding: 10px;
  border-bottom: solid 3px #3CB371;

}

header p{
  text-align: right;
}

header p a{
  color: #3CB371;
  text-decoration: none;

}

header p a:hover{
  font-weight: bold;
}



footer{
  font-family: 'Abel', sans-serif;
  background-color:#3CB371;
  width:100%;
  margin: auto;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  text-align: center;
}


.bigcontainer{
  display:flex;
  flex-direction: row;
  width:100%;
  margin:5%;

}



.picturebox{
  flex:1;
  margin-right: 5%;
  margin-top: 2%;

}

.picturebox img{
  width:95%;
}

.summarybox{
  flex:1;
}

.summarybox p{
  width:80%;
}

.userintro{
  margin-left: 20px;
}

.justtext{
  margin:5%;
}

.citations{
  margin:5%;
}

footer p{
  flex:1;

}

.sketches p{
  margin-left: 20px;
}


footer p a{
  color:white;
  text-decoration: none;
}

h3{
  text-align:center;
}
